{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
  Tableau de Bord des Articles
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-6">
        <ul>
            <li> Nombre d'Articles enregistrés : {{totalArticles}} </li>
            <li> Nombre d'Articles visibles : {{totalVisible}} </li>
            <li> Nombre d'Articles en Rupture de Stock : {{totalRuptureStock}} </li>
        </ul>
      

        </div>
        <div class="col-6">
  
        </div>
    </div>
{% endblock %}