{% extends 'base.html.twig' %}

{% block title %}Page Couture{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1> L'Art des Fils  !</h1>
                <p> Gestion des stocks</p>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('images/couture_illustration.jpg') }}" alt="Illustration Couture" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}